// Place all the styles related to the Static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.img-responsive-center{
    margin: 0 auto;
}

.sponsor-gas {
    font-size: 70%;
    margin: 10px;
}
